.App {
  text-align: center;
  font-family: 'Arial', sans-serif;
  color: white; /* Darker font color for better readability */
}

/* Sidebar styles */
#sidebar-wrapper {
  background-color: #f8f9fa; /* Lighter background for the sidebar */
  padding: 20px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
}

.sidebar-nav li {
  padding: 10px 0;
  list-style-type: none; /* Remove bullet points */
}

.sidebar-nav .active {
  background-color: #007bff; /* Highlight for active page */
  color: white;
  border-radius: 0.25rem;
  padding: 10px;
}

/* General button styling */
.btn-primary {
  background-color: #007bff;
  border: none;
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2); /* Added shadow for buttons */
}

.btn-primary:hover,
.btn-primary:focus {
  background-color: #0056b3;
}

/* Wrapper for the page content */
#page-content-wrapper {
  padding: 2rem; /* Added padding */
  background: #fff; /* White background for the content area */
  min-height: 100vh; /* Full height */
}

/* Media queries for responsive adjustments */
@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

